@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #1e1e1e;
  --color-light-gray: #d1d5db;
  --color-dark-gray: #6b7280;

  /* MORE ORIGINAL ALIKE COLORS */
  /* --color-primary: #08155c;
  --color-primary-dark: #061152;
  --color-secondary: #f06e22;
  --color-secondary-dark: #ad590a */

  /* MY COLORS */
  --color-primary: #331297;
  --color-primary-dark: #1d075f;
  --color-secondary: #d52946;
  --color-secondary-dark: #a0172d;

  --font-sans: 'Fira Sans', sans-serif;
}

@utility polka-primary {
  background-image:
    radial-gradient(var(--color-primary) 10%, var(--color-background) 10%),
    radial-gradient(var(--color-primary) 10%, var(--color-background) 10%);
  background-position:
    0px 0px,
    10px 10px;
  background-size: 12px 12px;
  background-color: var(--color-background);
}

@utility polka-primary-dark {
  background-image:
    radial-gradient(var(--color-primary-dark) 10%, var(--color-primary) 10%),
    radial-gradient(var(--color-primary-dark) 10%, var(--color-primary) 10%);
  background-position:
    0px 0px,
    10px 10px;
  background-size: 12px 12px;
  background-color: var(--color-primary);
}
