---
interface Props {
  title: string
  description: string
  src?: string
  alt?: string
}

const { title, description, src, alt } = Astro.props
---

<article
  class="even:bg-primary group even:text-background relative flex aspect-[4/5] flex-col gap-4 overflow-hidden rounded-xl px-6 py-8 odd:mb-18 even:mt-18"
>
  <h3 class="decoration-secondary z-20 text-3xl font-bold tracking-tight underline decoration-[3px]">{title}</h3>
  <p class="group-even:text-light-gray text-dark-gray z-20">
    {description}
  </p>
  <a
    href="#info"
    class="group-odd:bg-secondary text-background group-even:bg-primary group-even:hover:bg-primary-dark group-odd:hover:bg-secondary-dark z-20 mt-auto ml-auto w-fit rounded-md px-4 py-2.5 text-end text-sm font-semibold transition-colors"
  >
    Ver Más &UpperRightArrow;
  </a>
  {
    src && (
      <img
        src={src}
        alt={alt}
        class="absolute -z-10 group-first:bottom-0 group-first:left-0 group-first:h-[50%] group-first:w-auto group-last:right-0 group-last:bottom-0 group-last:h-[45%] group-last:w-auto"
      />
    )
  }
  <div
    class="polka-primary before:to-background before:via-background absolute inset-0 translate-y-1/2 group-even:hidden before:absolute before:inset-0 before:-z-20 before:bg-radial before:from-transparent before:via-70% before:bg-bottom odd:-z-30"
  >
  </div>
</article>
