---
import { type ImageMetadata } from 'astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { SlideInFromBottom } from '../motion/slide-in'
import { twMerge } from 'tailwind-merge'

interface Props {
  title: string
  description: string
  src?: ImageMetadata
  alt?: string
  imgPosition?: 'left' | 'right'
}

const { title, description, src, alt, imgPosition } = Astro.props
---

<article
  class="group flex md:odd:row-start-1 md:even:col-span-2 lg:aspect-[5/6] lg:odd:mb-18 lg:even:col-span-1 lg:even:row-start-1 lg:even:mt-18"
>
  <SlideInFromBottom client:idle>
    <div
      class="group-even:bg-primary group-even:text-background relative flex h-full flex-col gap-4 overflow-hidden rounded-xl px-6 py-8"
    >
      <h3 class="decoration-secondary z-20 text-3xl font-bold tracking-tight underline decoration-[3px]">{title}</h3>
      <p class="group-even:text-light-gray text-dark-gray z-20">
        {description}
      </p>
      <a
        href="#info"
        class="group-odd:bg-secondary text-background group-even:bg-primary group-even:hover:bg-primary-dark group-odd:hover:bg-secondary-dark z-20 mt-24 ml-auto flex w-fit items-center gap-1 rounded-md px-4 py-2.5 text-sm font-semibold transition-colors lg:mt-auto"
      >
        Ver Más <Icon name="mdi:arrow-top-right" class="size-4" />
      </a>
      {
        src && alt && imgPosition && (
          <Image
            src={src}
            alt={alt}
            class={twMerge(
              'absolute bottom-0 -z-10 w-auto',
              imgPosition === 'left' ? 'left-0 h-[50%]' : 'right-0 h-[45%]'
            )}
          />
        )
      }
      <div
        class="group-odd:polka-primary group-odd:before:to-background group-odd:before:via-background group-even:before:to-primary group-even:before:via-primary group-even:polka-primary-dark absolute inset-0 translate-y-1/2 group-odd:-z-30 group-even:z-10 before:absolute before:inset-0 before:-z-20 before:bg-radial before:from-transparent before:bg-bottom group-odd:before:via-70% group-even:before:via-95%"
      >
      </div>
    </div>
  </SlideInFromBottom>
</article>
