---
import { Icon } from 'astro-icon/components'
import { YouTube } from 'astro-embed'

interface Props {
  src: string
  title: string
  description: string
  link: string
}

const { src, title, description, link } = Astro.props
---

<article class="flex w-full flex-col">
  <YouTube
    id={src}
    posterQuality="high"
    class="max-h-[350px]! max-w-full! flex-1 overflow-hidden rounded-xl object-cover"
  />
  <div class="relative flex flex-1 flex-col gap-6 overflow-hidden rounded-xl py-4">
    <h3 class="decoration-secondary text-3xl font-bold tracking-tight underline decoration-[3px]">{title}</h3>
    <p class="text-dark-gray">
      {description}
    </p>
    <a
      href={link}
      class="bg-secondary text-background hover:bg-secondary-dark flex w-full items-center justify-center gap-1 rounded-md px-5 py-2.5 font-semibold transition-colors md:w-fit"
    >
      Ver en YouTube <Icon name="mdi:arrow-top-right" class="size-6" />
    </a>
  </div>
</article>
