---
import MainLayout from '../layouts/main-layout.astro'
import AboutUsSection from '../sections/about-us-section.astro'
import FeaturesSection from '../sections/features-section.astro'
import GallerySection from '../sections/gallery-section.astro'
import HeroSection from '../sections/hero-section.astro'
import PartnersSection from '../sections/partners-section.astro'
---

<MainLayout>
  <main>
    <HeroSection />
    <FeaturesSection />
    <GallerySection />
    <AboutUsSection />
    <PartnersSection />
    <section>
      <h2>¿Tenes dudas?</h2>
      <p>Escribinos por WhatsApp o completa el formulario de contacto. Estamos para ayudarte.</p>
      <a href="#contacto">Contacto</a>
    </section>
  </main>
</MainLayout>
