---
import '@fontsource/fira-sans/400.css'
import '@fontsource/fira-sans/600.css'
import '@fontsource/fira-sans/700.css'
import '@fontsource/fira-sans/900.css'

import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import MainLayout from '../layouts/main-layout.astro'
import AboutUsSection from '../sections/about-us-section.astro'
import ContactSection from '../sections/contact-section.astro'
import FeaturesSection from '../sections/features-section.astro'
import GallerySection from '../sections/gallery-section.astro'
import HeroSection from '../sections/hero-section.astro'
import PartnersSection from '../sections/partners-section.astro'
import TutorialsSection from '../sections/tutorials-section.astro'
import ManualBanner from '../sections/manual-banner.astro'
---

<MainLayout>
  <Header />
  <main>
    <HeroSection />
    <AboutUsSection />
    <FeaturesSection />
    <GallerySection />
    <PartnersSection />
    <TutorialsSection />
    <ManualBanner />
    <ContactSection />
  </main>
  <Footer />
</MainLayout>
