---
import MainContainer from '../containers/main-container.astro'
---

<footer class="bg-primary text-background mt-64 py-6">
  <MainContainer className="flex flex-col gap-2">
    <div class="w-full">
      <a href="/"><img src="/logo.png" alt="Robotic Drums" class="h-10" /></a>
    </div>
    <p class="text-base opacity-30">Copyright © 2025 - Yusborinchit</p>
  </MainContainer>
</footer>
