---
import MainContainer from '../containers/main-container.astro'
import { Icon } from 'astro-icon/components'
---

<header class="bg-primary text-background sticky top-0 left-0 z-50 py-4">
  <MainContainer className="flex items-center justify-between">
    <a href="/">
      <img loading="lazy" src="/logo.png" alt="Robotic Drums" class="h-10" />
    </a>
    <button class="sm:hidden">
      <Icon name="mdi:menu" title="Navbar Menu" class="size-12" />
    </button>
    <nav class="hidden sm:inline">
      <ul class="flex items-center gap-4 text-base">
        <li><a href="/" class="hover:underline">Inicio</a></li>
        <li><a href="#ventajas" class="hover:underline">Ventajas</a></li>
        <li><a href="#galeria" class="hover:underline">Galería</a></li>
        <li><a href="#sobre-nosotros" class="hover:underline">Sobre Nosotros</a></li>
        <li><a href="#socios" class="hover:underline">Socios</a></li>
        <li><a href="#contacto" class="hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </MainContainer>
</header>
