---
import { Icon } from 'astro-icon/components'
import MainContainer from '../containers/main-container.astro'
import { Image } from 'astro:assets'
import RoboticDrums1Image from '../assets/robotic-drums-1.webp'
---

<MainContainer tag="section" className="grid items-center gap-6 pt-42 md:grid-cols-[3fr_2fr]">
  <div class="row-start-2 flex flex-col gap-6 md:row-start-1">
    <h2 id="sobre-nosotros" class="text-5xl font-bold tracking-tighter">
      <span class="text-secondary">#</span> Sobre Robotic Drums
    </h2>
    <p class="text-dark-gray max-w-prose">
      Robotic Drums nace en 2016 de la mano de Daniel "Tatita" Márquez, con el objetivo de fusionar música, tecnología y
      robótica en una propuesta innovadora.
    </p>
    <p class="text-dark-gray max-w-prose">
      El proyecto promueve la investigación y la experimentación artística a través de performances en las que músicos y
      robots interactúan en tiempo real sobre tambores, creando una experiencia sonora de vanguardia.
    </p>
    <a
      href="#sobre-nosotros"
      class="bg-secondary text-background hover:bg-secondary-dark mt-2 flex w-full items-center gap-1 rounded-md px-5 py-2.5 text-center font-semibold transition-colors md:w-fit"
    >
      Más información <Icon name="mdi:arrow-top-right" class="size-6" />
    </a>
  </div>
  <Image
    src={RoboticDrums1Image}
    alt="Robotic Drums"
    class="row-start-1 h-full max-h-[300px] w-full rounded-xl object-cover object-[0%_25%] md:row-start-1 md:max-h-[550px]"
  />
</MainContainer>
