---
import { Image } from 'astro:assets'
import MainContainer from '../containers/main-container.astro'
import { Icon } from 'astro-icon/components'
import ContactImage from '../assets/contact.webp'
---

<MainContainer tag="section" className="grid gap-6 pt-42 md:grid-cols-5">
  <div class="flex flex-col gap-6 md:col-span-3">
    <h2 id="contacto" class="text-5xl font-bold tracking-tighter">
      <span class="text-secondary">¿</span>Tenés dudas<span class="text-secondary">?</span>
    </h2>
    <p class="text-dark-gray max-w-[60ch]">
      Escribinos por <a
        href="https://api.whatsapp.com/send/?phone=59892034050"
        target="_blank"
        class="text-secondary underline">WhatsApp</a
      > o completa el formulario de contacto. Estamos para ayudarte.
    </p>
    <form class="flex flex-col gap-4">
      <div class="grid gap-4 md:grid-cols-2">
        <div class="flex flex-col gap-1">
          <label for="name" class="text-base font-semibold">
            <span class="text-primary">#</span> Nombre<span class="text-primary">:</span>
          </label>
          <input
            id="name"
            name="name"
            type="text"
            placeholder="Ingresa tu nombre..."
            class="placeholder:text-dark-gray border-light-gray focus-visible:border-primary rounded-lg border px-4 py-2 focus-visible:outline-none"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="lastname" class="text-base font-semibold">
            <span class="text-primary">#</span> Apellido<span class="text-primary">:</span>
          </label>
          <input
            id="lastname"
            name="lastname"
            type="text"
            placeholder="Ingresa tu apellido..."
            class="placeholder:text-dark-gray border-light-gray focus-visible:border-primary rounded-lg border px-4 py-2 focus-visible:outline-none"
          />
        </div>
      </div>
      <div class="grid gap-4 md:grid-cols-2">
        <div class="flex flex-col gap-1">
          <label for="email" class="text-base font-semibold">
            <span class="text-primary">#</span> Email<span class="text-primary">:</span>
          </label>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Ingresa tu email..."
            class="placeholder:text-dark-gray border-light-gray focus-visible:border-primary rounded-lg border px-4 py-2 focus-visible:outline-none"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="phone" class="text-base font-semibold">
            <span class="text-primary">#</span> Teléfono<span class="text-primary">:</span>
          </label>
          <input
            id="phone"
            name="phone"
            type="tel"
            placeholder="Ingresa tu teléfono..."
            class="placeholder:text-dark-gray border-light-gray focus-visible:border-primary rounded-lg border px-4 py-2 focus-visible:outline-none"
          />
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <label for="message" class="text-base font-semibold">
          <span class="text-primary">#</span> Mensaje<span class="text-primary">:</span>
        </label>
        <textarea
          id="message"
          name="message"
          placeholder="Ingresa tu nombre..."
          rows="5"
          class="placeholder:text-dark-gray border-light-gray focus-visible:border-primary resize-y rounded-lg border px-4 py-2 focus-visible:outline-none"
        ></textarea>
      </div>
      <button
        class="bg-secondary text-background hover:bg-secondary-dark mt-8 flex w-full items-center justify-center gap-2 rounded-md px-5 py-2.5 text-center font-semibold transition-colors hover:cursor-pointer md:w-fit"
      >
        Enviar Mensaje <Icon name="mdi:send" class="size-5" />
      </button>
    </form>
  </div>
  <div class="col-span-2 hidden md:inline">
    <Image src={ContactImage} alt="Foto de Daniel Tatita Marquez" class="h-full rounded-xl object-cover" />
  </div>
</MainContainer>
