---
import FeatureCard from '../components/cards/feature-card.astro'
import MainContainer from '../containers/main-container.astro'
---

<MainContainer tag="section" className="flex flex-col gap-6 pt-42">
  <h2 id="ventajas" class="text-center text-5xl font-bold tracking-tighter">
    <span class="text-secondary">¿</span>Por qué elegir Robotic Drums<span class="text-secondary">?</span>
  </h2>
  <p class="text-dark-gray mx-auto max-w-[60ch] text-center">
    Explora cómo la tecnología y la música se combinan para transformar tu forma de aprender, practicar y tocar
  </p>
  <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
    <FeatureCard
      title="Aprende a tu ritmo"
      description="Explora la percusión de una forma completamente nueva, integrando tecnología y robótica para que el aprendizaje sea dinámico, accesible y entretenido"
      src="/feature-1.webp"
      alt="Feature 1"
    />
    <FeatureCard
      title="Desafía tus límites"
      description="Nuestro sistema robótico supera las capacidades humanas en precisión y velocidad. Es el compañero ideal para llevar tu práctica al siguiente nivel"
    />
    <FeatureCard
      title="Siempre disponible"
      description="Robotic Drums está listo cuando vos lo estés. Compacto, portátil y fácil de usar: tu mejor aliado para ensayar, tocar en vivo o experimentar sin límites"
      src="/feature-2.webp"
      alt="Feature 2"
    />
  </div>
</MainContainer>
