---
import MainContainer from '../containers/main-container.astro'
import GalleryVideo1 from '../assets/videos/video-1.mp4'
import GalleryVideo2 from '../assets/videos/video-2.mp4'
import GalleryVideo3 from '../assets/videos/video-3.mp4'
import GalleryVideo4 from '../assets/videos/video-4.mp4'
import GalleryVideo5 from '../assets/videos/video-5.mp4'
import GalleryVideo6 from '../assets/videos/video-6.mp4'
import GalleryVideo7 from '../assets/videos/video-7.mp4'
import GalleryVideo8 from '../assets/videos/video-8.mp4'
import VideoThumbnail1 from '../assets/thumbnails/thumbnail-1.webp'
import VideoThumbnail2 from '../assets/thumbnails/thumbnail-2.webp'
import VideoThumbnail3 from '../assets/thumbnails/thumbnail-3.webp'
import VideoThumbnail4 from '../assets/thumbnails/thumbnail-4.webp'
import VideoThumbnail5 from '../assets/thumbnails/thumbnail-5.webp'
import VideoThumbnail6 from '../assets/thumbnails/thumbnail-6.webp'
import VideoThumbnail7 from '../assets/thumbnails/thumbnail-7.webp'
import VideoThumbnail8 from '../assets/thumbnails/thumbnail-8.webp'
import { SlideInFromBottom } from '../components/motion/slide-in'

const galleryVideos = [
  { src: GalleryVideo1, thumbnail: VideoThumbnail1 },
  { src: GalleryVideo2, thumbnail: VideoThumbnail2 },
  { src: GalleryVideo3, thumbnail: VideoThumbnail3 },
  { src: GalleryVideo4, thumbnail: VideoThumbnail4 },
  { src: GalleryVideo5, thumbnail: VideoThumbnail5 },
  { src: GalleryVideo6, thumbnail: VideoThumbnail6 },
  { src: GalleryVideo7, thumbnail: VideoThumbnail7 },
  { src: GalleryVideo8, thumbnail: VideoThumbnail8 },
]
---

<section class="relative pt-42">
  <MainContainer className="flex flex-col gap-6">
    <h2 id="galeria" class="text-center text-5xl font-bold tracking-tighter">
      <span class="text-secondary">¡</span>Así suena la innovación<span class="text-secondary">!</span>
    </h2>
    <p class="text-dark-gray mx-auto max-w-[60ch] text-center">
      Si estás interesado en aprender más, echa un vistazo a nuestro
      <a href="https://www.youtube.com/@Tatitamusic" class="text-secondary font-semibold underline">canal de YouTube</a>
      para descubrir más sobre Robotic Drums
    </p>
  </MainContainer>
  <div class="relative pt-8 pb-32">
    <MainContainer className="grid grid-cols-2 gap-6 md:grid-cols-4">
      {
        galleryVideos.map((video) => (
          <div class="group">
            <SlideInFromBottom client:load>
              <video
                controls
                preload="none"
                poster={video.thumbnail.src}
                class="bg-light-gray aspect-[9/16] h-full w-full rounded-xl object-cover group-odd:mb-6 group-even:mt-6"
              >
                <source src={video.src} type="video/mp4" />
                <track kind="captions" label="Robotic Drums" />
              </video>
            </SlideInFromBottom>
          </div>
        ))
      }
    </MainContainer>
    <div
      class="polka-primary after:from-background before:from-background absolute inset-0 -z-20 before:absolute before:inset-0 before:-z-20 before:bg-gradient-to-t before:via-transparent before:via-35% before:to-transparent after:absolute after:inset-0 after:-z-10 after:bg-gradient-to-b after:via-transparent after:via-35% after:to-transparent"
    >
    </div>
  </div>
</section>
