---
import { Icon } from 'astro-icon/components'
import MainContainer from '../containers/main-container.astro'
---

<section class="polka-primary-dark text-background mt-42 py-16">
  <MainContainer className="grid gap-6 sm:grid-cols-[3fr_2fr]">
    <h2 id="sobre-nosotros" class="text-3xl font-bold tracking-tighter">
      ¡Descarga nuestro Manual de Usuario para no perderte nada!
    </h2>
    <a
      href="https://roboticdrums.com/wp-content/uploads/2023/01/Manual-Robotic_ESP-y-ENG.pdf"
      target="_blank"
      class="bg-primary border-background text-background hover:bg-background hover:text-primary my-auto ml-auto flex h-fit w-full items-center justify-center gap-1 rounded-md border-2 px-5 py-2.5 font-semibold transition-colors sm:w-fit"
    >
      Descargar Aquí <Icon name="mdi:cellphone-download" class="size-6" />
    </a>
  </MainContainer>
</section>
