---
import MainContainer from '../containers/main-container.astro'
---

<section class="bg-primary text-background mt-42 py-16">
  <MainContainer className="grid grid-cols-[3fr_2fr] gap-6">
    <h2 id="sobre-nosotros" class="text-3xl font-bold tracking-tighter">
      ¡Descarga nuestro Manual de Usuario para no perderte nada!
    </h2>
    <a
      href="https://roboticdrums.com/wp-content/uploads/2023/01/Manual-Robotic_ESP-y-ENG.pdf"
      class="bg-primary border-background text-background hover:bg-background hover:text-primary my-auto ml-auto grid h-fit w-fit rounded-md border-2 px-5 py-2.5 font-semibold transition-colors"
    >
      Descargar Aquí
    </a>
  </MainContainer>
</section>
