---
import { Image } from 'astro:assets'
import MainContainer from '../containers/main-container.astro'
import Partner1 from '../assets/partners/thaleslab.webp'
import Partner2 from '../assets/partners/contemporanea.webp'
import Partner3 from '../assets/partners/anni.webp'
---

<section class="polka-primary-dark text-background mt-42 py-18">
  <MainContainer className="flex flex-col gap-6">
    <h2 id="socios" class="text-center text-5xl font-bold tracking-tighter">Nuestros socios</h2>
    <p class="text-light-gray mx-auto max-w-[60ch] text-center">
      Agradecemos el apoyo invaluable de nuestros socios colaboradores
    </p>
    <div class="flex flex-wrap items-center justify-center gap-18">
      <Image src={Partner1} alt="ThalesLab Logo" class="h-auto max-w-[300px]" />
      <Image src={Partner2} alt="Contemporanea Logo" class="h-auto max-w-[300px]" />
      <Image src={Partner3} alt="Anni Logo" class="h-auto max-w-[300px]" />
    </div>
  </MainContainer>
</section>
